<%- include('header'); -%>
  <div class='content'>
   <H1>Contacts</H1>
   <p>Dave - dave@webstore.hw.ac.uk - 08475853358</p>
   <p>Janet - janet@webstore.hw.ac.uk - 044586476468</p>
  </div>
<%- include('footer'); -%>